doctype html
html(lang="ja")
	head
		meta(charset="utf-8")
		title わーわーうぉー
		link(rel="stylesheet",href="style.css")
		script(src="vendor/enchant.js")
		script(src="vendor/next.enchant.js")
		script(src="app.js")
		script(src="lib.js")
	body
		#wrapper
			#enchant-stage
		#title わーわーうぉー dev
